<!-- unordered list for array loops -->
<ul class="list-unstyled">
    <li *ngFor="let item of items">{{item}}</li>
</ul>


<br>

<!-- unordered list for array loops with index -->
<ul class="list-unstyled">
    <li *ngFor="let car of cars; let i= index">{{i}} {{car}}</li>
</ul>




<!-- unordered list for adding items to an array -->
<input type="text" [(ngModel)]="grocery">
<button class="btn btn-primary" (click)="addItems()">Add Items To Grocery Cart</button>

<ul class="list-unstyled">
    <li *ngFor="let g of grocerylist; let i= index">{{i}} {{g}}</li>
</ul>



<!-- button used to add items to an array -->
<button class="btn btn-primary btn-sm" (click)="seeming()">Add Numbers</button>

<ul class="list-unstyled">
    <li *ngFor="let add of addNumbersArray; let i= index"> {{add}</li>
</ul>
